:root {
  --font-color: #333;
  --background-color: #eee;
}

[data-theme='dark'] {
  --font-color: #eee;
  --background-color: #333;
}

* {
  margin: 10px;
  color: var(--font-color);
  background-color: var(--background-color);
}